<p>Olá <strong>{{ name }}</strong>, sejá bem vindo ao Classificados Aramaçan!</p>

<p>Para ativar seu cadastro, clique no link abaixo:</p>

<p><strong><a href="http://classificadoscaa.com.br/active-user/?email={{email}}&code={{ activeCode }}">Clique para
      ativar</a></strong></p>
